label {
    width:60px;
    height:30px;
    position: relative;
    display: block;
    background: #d1d1d1;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  label:after {
    content: "";
    width:30px;
    height: 30px;
    position: absolute;
    left:30px;
    background: linear-gradient(180deg,#696969,#0a0a0a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    right:30px;
    transform: translateX(-95%);
    background: linear-gradient(180deg,#f7f7f7,#777777);
  }
  label, label:after {
    transition: 0.2s
  }

  label:active:after{ 
    width: 30px; 
  }

  input:checked + label + .background {
    background:#242424;
  }

  label i {
    position: absolute;
    width: 30px;
    top: 7px;
  }

  label i.sun { 
    left: 8px;
    fill: #fff;
    transition: 0.3s;
  }

  label i.moon {
    left: 38px;
    fill: #161616;
    transition: 0.3s;
  }

  input:checked + label i.sun {
    fill: #000;
  }

  input:checked + label i.moon {
    fill: #fff;
  }