/* Base de las paginas en general */

.general-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.general-box1 {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(18, 16, 25);
    color: white;
    justify-content: space-between;
    align-items: center;
}

ol li {
    list-style: none;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}

ol li:hover {
    border: white 1px solid;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.general-box2 {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.general-box3 {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(18, 16, 25);
    color: white;
    align-items: center;
    justify-content: space-between;
}

.general-chat{
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    border: solid black 1px;
    margin: 15px;
}

/* Responsive*/

@media screen and (max-width: 750px) {
    * {
        font-size: 15px;
    }

    .general-box1 {
        width: 25%;
    }

    .general-box2 {
        width: 50%;
    }

    .general-box3 {
        width: 25%;
    }
}

@media screen and (max-width: 580px) {
    * {
        font-size: 10px;
    }

    .general-box1 {
        width: 25%;
    }

    .general-box2 {
        width: 50%;
    }

    .general-box3 {
        width: 25%;
    }
}