.general-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.general-content{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.general-box1{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

ol li{
    list-style: none;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}

ol li:hover {
    border: white 1px solid;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.general-box2{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.general-box3{
    width: 20%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

/* Responsive*/

@media screen and (max-width:750px){
    html{
        font-size: 15px;
    }
   .container{
    padding: 50px;
   }

}

@media screen and (max-width:580px){
    html{
        font-size: 15px;
    }
    
}