*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.principal{
    width: 64%;
    height: 100vh;
    position: absolute;
    left: 18%;
    top: 75px;
    background-color: whitesmoke;
}