/* Login */

.login-body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.containerL {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.containerF{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 30vh;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 28, 150);
}

.box2 {
    display: flex;
    width: 300px;
    height: 450px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
}

.box3 {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;

}



/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 15px;
    }

    .containerL {
        flex-direction: column;
    }

    .box1 {
        border-radius: 20px 20px 0 0;
        width: 400px;
        height: 200px;
    }

    .box2 {
        width: 400px;
        height: 350px;
        border-radius: 0 0 20px 20px;
    }

    .box3 {
        width: 300px;
    }


}

@media screen and (max-width:580px) {
    html {
        font-size: 13px;
    }

    .box1 {
        border-radius: 20px 20px 0 0;
        width: 300px;
        height: 100px;
    }

    .box1 img {
        width: 50px;
    }

    .box2 {
        width: 300px;
        height: 250px;
        border-radius: 0 0 20px 20px;
    }

    .box3 {
        width: 250px;
    }
}