/*Menu nav izq*/
#nav{
    width: 18%;
    height: 100%;
    background-color: rgb(18, 16, 25);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#avatar{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-top: 35px
}

#menu{
    width: 100%;
}

#menu a{
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: medium;
    font-style: italic;
}

#menu li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 16, 25);
    text-decoration: none;
}
