/* Regist */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.conten1 {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    background-color: rgb(182, 179, 179);
}

.conten2 {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 15px;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .conten1 {
        position: relative;
        width: 500px;
        height: 100px;
    }

    .conten2 {
        position: relative;
        width: 500px;
        height: 670px;
    }

}

@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .conten1 {
        width: 340px;
        height: 100px;
    }

    .conten2 {
        width: 340px;
        height: 500px;
    }
}