/* Register */

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.conten1 {
    width: 550px;
    height: 100px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    background-color: rgb(49, 36, 235);
}

.conten2 {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.content3{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
}

/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .conten1 {
        width: 450px;
        height: 100px;
    }

    .conten2 {
        position: relative;
        width: 450px;
        height: 650px;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .conten1 {
        width: 400px;
        height: 100px;
    }

    .conten2 {
        width: 400px;
        height: 500px;
    }
    .content3{
        border:none;
    }
}